/* Base styles */
.img-tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centered by default for mobile */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 0px;
  margin-left: 0; /* setting to 0 for proper alignment on mobile */
}

.tech-img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  flex: 1 0 100%; /* Taking full width on mobile by default */
}

.tech-text {
  font-size: 12px;
}

/* By default (for larger screens), the text is left-aligned */
.tech-stack-header {
  text-align: left;
}

/* Tablet and larger mobile devices */
@media (min-width: 501px) and (max-width: 800px) {
  .tech-container {
    flex: 1 0 calc(50% - 20px); /* Taking half the width on tablets */
  }

  .tech-text {
    font-size: 12px;
  }
}

/* Desktop and larger tablets */
@media (min-width: 801px) {
  .tech-container {
    flex: 1 0 calc(33.33% - 20px); /* Taking one-third of the width on desktop */
  }

  .img-tech-stack {
    align-items: flex-start; /* Resetting alignment for larger screens */
  }

  .row {
    margin-left: -40px; /* Resetting the margin for larger screens */
  }
}

/* For mobile devices */
@media (max-width: 500px) {
  .tech-stack-header {
    text-align: center;
  }
}

.clickable {
  cursor: pointer; /* Change the cursor to a hand pointer to indicate it's clickable */
  transition: background-color 0.3s, transform 0.3s; /* Add smooth transition for hover effects */
}

.clickable:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.05
  ); /* Add a subtle background color on hover */
  transform: scale(1.1); /* Slightly enlarge the item on hover */
}
