.planets-app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
}

.big-button2 {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 200px;
  height: auto;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 10px;
}
