.todo-container {

}

.todo-container__list {

}

.todo-container__list__item {
  margin: 20px 0;
  border: 1px solid var(--color-blue-gray);
  border-radius: 5px;
  width: 70%;
  height: 50%;
  padding: 5px 24px 30px 24px;
  border-radius: 8px;
  gap: 16px;
  -webkit-box-shadow: 21px 17px 11px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 21px 17px 11px -11px rgba(66, 68, 90, 1);
  box-shadow: 21px 17px 11px -11px rgba(66, 68, 90, 1);
}

.todo-container__list__item__title {
color: black;
margin-top: 10px;
}

.todo-container__list__item__author {
  color: grey;
  margin-top: -12px;
}

.todo-container__list__item__date {
    color: grey;
    margin-top: 2px;
}

.todo-container__list__item__note {
  color: grey;
  margin-top: 20px;
  display: flex;
}

.todo-container__list__item__donedate {
  margin-left: auto;
}

