/* Bazowe style dla gry */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.game-platform {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  background-color: black;
  margin-bottom: 20px;
  background-image: url('./universe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style dla gracza i przeszkód */
.game-platform__player,
.game-platform__obstacle {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-platform__player {
  width: 100px;
  height: 100px;
  background-image: url('./ufo.png');
}

.game-platform__obstacle {
  width: 70px;
  height: 70px;
  background-image: url('./kometa.png');
}

/* Styl dla informacji o grze i opowieści */
.game-info,
.game-story {
  width: 50vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-bottom: 20px;
}

.game-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Dodatkowe style dla przycisku startu wewnątrz platformy gry */
.game-platform button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
