.login-container {
  margin: 100px auto;
  margin-top: 8%;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #000f4c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f31146;
}

.login-container {
  position: relative;
}

.login-logo {
  height: 75px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

.loading-bar {
  width: 20px;
  height: 4px;
  background-color: #000f4c;
  margin: 0 2px;
  animation: loading 1s infinite;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
