.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.exercise41-container {
  margin: 20px;
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.exercise41-container label {
  display: block;
  margin-bottom: 5px;
}

.exercise41-container select,
.exercise41-container input[type='text'] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.exercise41-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.exercise41-container button:hover {
  background-color: #0056b3;
}
