.calendar {
  font-family: Arial, sans-serif;
  width: 500px;
  border: 5px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto; /* Dodane właściwości do wyśrodkowania */
  margin-top: 20px; /* Dodane właściwości do wyśrodkowania */
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.calendar-weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-weekday {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.calendar-day.empty {
  visibility: hidden;
}

.calendar-day.current-day {
  background-color: #ccc;
}

.calendar-day.current-day {
  background-color: #ccc;
}

.calendar-day.weekend {
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .calendar {
    width: 300px; /* Zmniejszenie szerokości kalendarza */
  }

  .calendar-header button {
    font-size: 20px; /* Zmniejszenie rozmiaru ikon nawigacji */
  }

  .calendar-day {
    height: 30px; /* Zmniejszenie wysokości komórek kalendarza */
  }
}
